<br>
<h1>Seja bem-vindo adm</h1>
<nav>
    <a href="/cadastrar_produto">Cadastrar produto</a>&emsp;
    <a href="/listar_produto">Listar produto</a>&emsp;
    <a href="/editar_produto">Editar produto</a>&emsp;
    <a href="/excluir_produto">Excluir produto</a>
</nav>
<br><br>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 