<link rel="stylesheet" href="/css/atualizar.css">
<br>
<h1>Atualizar Produto</h1>
<br><br>
    <form action="/atualizar_produto" method="post">
        <div class="config-container">
            <div class="config-section">
                <h3>Configurações Atuais do Produto</h3>
                <br>
                {{!-- <label for="nome_produto">Insira o nome do Produto que você deseja atualizar</label> --}}
                <input type="text" name="nome_produto" placeholder="Insira o nome do Produto"><br>
                {{!-- <label for="cod_produto">Insira o código do Produto que você deseja atualizar</label> --}}
                <input type="text" name="cod_produto" placeholder="Insira o código do Produto"><br>
                {{!-- <label for="qtde_estoque">Insira a quantidade em estoque do Produto que você deseja atualizar</label> --}}
                <input type="text" name="qtde_estoque" placeholder="Insira a quantidade em estoque do Produto"><br>
                {{!-- <label for="cor">Insira a cor do Produto que você deseja atualizar</label> --}}
                <input type="text" name="cor" placeholder="Insira a cor do Produto"><br>
                {{!-- <label for="tamanho">Insira o tamanho do Produto que você deseja atualizar</label> --}}
                <input type="text" name="tamanho" placeholder="Insira o tamanho do Produto"><br>
                {{!-- <label for="preco">Insira o preço do Produto que você deseja atualizar</label> --}}
                <input type="text" name="preco" placeholder="Insira o preço do Produto"><br>
            </div>
            <div class="config-section">
                <h3>Novas configurações do Produto</h3>
                <br>
                {{!-- <label for="novo_nome_produto">Insira o novo nome do Produto que você deseja atualizar</label> --}}
                <input type="text" name="novo_nome_produto" placeholder="Insira o novo nome do Produto"><br>
                {{!-- <label for="novo_cod_produto">Insira o novo código do Produto que você deseja atualizar</label> --}}
                <input type="text" name="novo_cod_produto" placeholder="Insira o novo código do Produto"><br>
                {{!-- <label for="novo_qtde_estoque">Insira a nova quantidade em estoque do Produto que você deseja atualizar</label> --}}
                <input type="text" name="novo_qtde_estoque" placeholder="Insira a nova quantidade em estoque do Produto"><br>
                {{!-- <label for="novo_cor">Insira a nova cor do Produto que você deseja atualizar</label> --}}
                <input type="text" name="novo_cor" placeholder="Insira a nova cor do Produto"><br>
                {{!-- <label for="novo_tamanho">Insira o novo tamanho do Produto que você deseja atualizar</label> --}}
                <input type="text" name="novo_tamanho" placeholder="Insira o novo tamanho do Produto"><br>
                {{!-- <label for="novo_preco">Insira o novo preço do Produto que você deseja atualizar</label> --}}
                <input type="text" name="novo_preco" placeholder="Insira o novo preço do Produto"><br>
            </div>
        </div>
        {{#if msg}}
            <p>{{msg}}</p>
        {{else}}
            <p>{{msg2}}</p>
        {{/if}}

        <button id="att" type="submit">Atualizar</button>
    </form>



