<link rel="stylesheet" href="/css/cadastrar.css">

<h1>Ainda não está cadastrado? Cadastre-se:</h1>

        <form action="/cadastrar_usuario" method="post">
        {{!-- <label for="nome">Digite seu Nome</label> --}}
        <input type="text" name="nome" placeholder="Digite seu Nome"><br>
        {{!-- <label for="sobrenome">Digite seu Sobrenome</label> --}}
        <input type="text" name="sobrenome" placeholder="Digite seu Sobrenome"><br>
        {{!-- <label for="cpf">Digite seu cpf</label> --}}
        <input type="text" name="cpf" placeholder="Digite seu cpf"><br>
        {{!-- <label for="telefone">Digite seu telefone</label> --}}
        <input type="text" name="telefone" placeholder="Digite seu telefone"><br>
        {{!-- <label for="email">Digite seu email</label> --}}
        <input type="email" name="email" placeholder="Digite seu email"><br>
        {{!-- <label for="senha">Digite sua senha</label> --}}
        <input type="password" name="senha" placeholder="Digite sua senha"><br>
        <br>

        <button class="log" type="submit">Cadastrar</button>
        {{#if msg}}
            <p>{{msg}}</p>
        {{else}}
            <p>{{msg2}}</p>
        {{/if}}
</form>