<link rel="stylesheet" href="/css/carrinho.css">

<br>
<div id="carrinho-container">
  <h1>Sacola de Compras </h1>
  <br>
  
  <div id="itens-carrinho-container">
    <ul id="itens-carrinho">
      <!-- Itens do carrinho serão adicionados aqui -->
    </ul>
  </div>

  <p class="total">
    &nbsp;&nbsp;&nbsp;Quantidade: <span id="qtde-total">0</span>
    &nbsp;&nbsp;&nbsp;Total: R$ <span id="total-carrinho">0.0</span>
  </p>

  <div class="btns">
    <button id="limpar-carrinho">Limpar Carrinho</button>
    <button id="botao-comprar">Comprar</button>
  </div>

  <p id="mensagem-compra"></p>
</div>

</body>
</html>