<link rel="stylesheet" href="/css/home.css">
<script src="/js/itens_carrinho.js" defer></script>

<main>
			<ul class="produto">
		<li>
			<p class="cam_inic">Câmera Iniciante</p>
			<img src="/img/cam_inic.jpg" alt="Câmera iniciante" class="cam_inic">
			<p class="preco">R$ <span class="preco">979.9</span></p>
			<button class="adicionar_ao_carrinho" data-nome="Câmera iniciante" data-preco="979.9" data-qtde=1 cod-prod="1">Adicionar ao Carrinho</button>
		</li>
		<li>
			<p class="cam_prof">Câmera profissional</p>
			<img src="/img/cam_prof.jpg" alt="Câmera profissional" class="cam_prof">
			<p class="preco">R$ <span class="preco">1779.9</span></p>
			<button class="adicionar_ao_carrinho" data-nome="Câmera profissional" data-preco="1779.9" data-qtde=1 cod-prod="2">Adicionar ao Carrinho</button>
		</li>
	</ul>
</main>
			{{!-- <button><span class="material-symbols-outlined" id="button_bolsa_compra">shopping_bag</span></button> --}}
