<link rel="stylesheet" href="/css/sistema.css">



<main class="sistema-content">
        <h1>Bem-vindo, {{nomeAdm}}!</h1>
        <br>

        <div class="sistema_nav">
        <H4>Produtos:</H4>
            <nav>
                <a href="/cadastrar_produto">Cadastrar Produto</a><br>
                <a href="/listar_produto">Listar Produto</a><br>
                <a href="/atualizar_produto">Atualizar Produto</a><br>
                <a href="/apagar_produto">Apagar Produto</a><br>
                <a href="/cadastrar_adm">Cadastrar Administrador</a>
            </nav>
</main>