img.logo{
    height: 10vh;
}
img.carrinho{
    height: 10vh;
}
img.carrinho_cheio{
    height: 10vh;
}

.cabecalho {
    background-color: gainsboro; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}


nav {
    display: flex; 
}

nav a {
    color: black; 
    text-decoration: none; 
    margin-right: 15px;
}

